<header class="">
  <div class="container">
    <h1><%= title %></h1>
  </div>
</header>

<div class="container">
  <div class="row">
    <nav class="span2">
      <ul class="nav nav-list nav-menu">
        <li class="active"><a href=""><i class="icon-home icon-white"></i> Home</a></li>
        <li><a href="/users"><i class="icon-user"></i> Users</a></li>
        <li><a href="/reports"><i class="icon-book"></i> Reports</a></li>
        <li><a href="/customers"><i class="icon-pencil"></i> Customers</a></li>
      </ul>
    </nav>
    <div class="span10"></div>
  </div>
</div>
