<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <title><%= title %></title>
    <script src="/js/vendor/modernizr.js"></script>
    <script data-main="/js/main" src="/js/require.js"></script>
    <link rel='stylesheet' href='/css/site.css' />
  </head>
  <body>
    <% include navMenu %>
    <div id="main-container" class="container"></div>
    <%- body %>
  </body>
</html>