<div class="navbar navbar-static-top">
  <div class="navbar-inner">
    <div class="nav-menu container">
      <a href="/" class="brand nav-menu-logo" data-event-name="navigate.root.index">Uber Umami!</a>
      <ul class="nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Personel</a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/users" class="nav-menu-link" data-event-name="navigate.user.index">Users</a></li>
            <li><a href="/admins" class="nav-menu-link" data-event-name="navigate.admin.index">Admins</a></li>
            <li><a href="/customers" class="nav-menu-link" data-event-name="navigate.customer.index">Customers</a></li>
            <li>
              <a href="#" class="nav-menu-link">Nested Menu</a>
            </li>
          </ul>
        </li>
        <li><a href="/reports" class="nav-menu-link">Reports</a></li>
      </ul>
    </div>
  </div>
</div>