<div class="navbar navbar-static-top">
  <div class="navbar-inner">
    <div class="nav-menu container">
      <a href="#" class="brand">Server Demo</a>
      <ul class="nav">
        <li class="dropdown active">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Users</a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/users?type=admins" class="nav-menu-link">Admins</a></li>
            <li><a href="/users?type=customers" class="nav-menu-link">Customers</a></li>
            <li>
              <a href="#" class="nav-menu-link">Nested Menu</a>
            </li>
          </ul>
        </li>
        <li><a href="#">Reports</a></li>
      </ul>
    </div>
  </div>
</div>