<script type="text/html" id="user-row-view">
  <td>{{= id }}</td>
  <td>{{= firstName }}</td>
  <td>{{= lastName }}</td>
  <td>{{= homePhone }}</td>
  <td>{{= title }}</td>
  <td><i class="icon-chevron-right"></i></td>
</script>

